{% extends 'core/homeBase.html' %}
{%load static %}
{% block title %}Blood Donation Camp{% endblock title %}
{% block content %}
<div class="wrapper">
<div class="container">
 <h2>BLOOD DONATION CAMP- 19.02.2019:-</h2>
 <br>
 <img src="{%static 'images/b111.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436">
<p>
  #BloodDonation#GiveBloodGiveLife#gmitkolkata
  Blood is something we human beings haven’t been able to recreate. The only way to save lives thus is to donate. Incidentally, India falls short of 2 million units of blood every year, which could save more than 3.5 lakh lives.
  Keeping this in mind, GMIT in association with Peoples Blood Bank organised a blood donation camp to commemorate the 4th death anniversary, of Shri Dhurjoti Banerjee,  its founding chairman, an educationist, entrepreneur and visionary in all aspects.
  Esteemed guests who were present were Ms. Debarati Sarkar (SDO), Mr. Abhishek Majumdar (SDPO) and Baruipur police station IC Mr. Jayanta Bhadra.
  Total of 135 units of blood was collected as students and faculty wholeheartedly participated in the event.

</p>
 {% endblock content %}