{% extends 'core\homeBase.html' %}
{%load static %}
{% block title %}Index1{% endblock title %}
{% block content %}


<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="featured_slide">
        <ul id="featurednews">
          <li><img src="{%static 'images/slider_img1.jpg' %}" alt="" />
            <div class="panel-overlay">
              <h2>Gargi Memorial Institute of Technology</h2>
              <p>The Institute setup an Innovation Cell for providing various facilities to the students to nurture their innovative ideas and convert them to usable products. The students are encouraged to participate in various technical competitions such as AICTE Chatra Viswakarma, Tech Fests organized by various IITs viz. IIT Mumbai, IIT Kharagpur, etc. and also participate in regional Project Contest organized by CII (ER), American Centre, Kolkata,etc.<br />
                <a href="#">Continue Reading &raquo;</a></p>
            </div>
          </li>
          <li><img src="{%static 'images/slider_img2.jpg' %}" alt="" />
            <div class="panel-overlay">
              <h2>Gargi Memorial Institute of Technology</h2>
              <p>The Career Development Cell (CDC) is committed to provide all possible assistance to the students of GMIT in their efforts to find employment. Headed by Mr Sudip Mukherjee, Director-CDC & Ex-GM, ArcelorMittal, the cell is an 8-member team, comprising of one faculty member from each department and the Training & Placement Officers (TPOs).The success of CDC is reflected in the students being constantly able to secure lucrative industry placements since the conception of the cell.<br />
                <a href="#">Continue Reading &raquo;</a></p>
            </div>
          </li>
          <li><img src="{%static 'images/slider_img3.jpg' %}" alt="" />
            <div class="panel-overlay">
              <h2>Gargi Memorial Institute of Technology</h2>
              <p>Positive attitude of our students towards placement opportunities has put GMIT on the map of West Bengal as a fruitful destination for the core industries to recruit fresh engineers. While the number of jobs in core sector shrinks day by day, GMIT has consistently secured decent number of opportunities for its students<br />
                <a href="#">Continue Reading &raquo;</a></p>
            </div>
          </li>
          <li><img src="{%static 'images/slider_img4.jpg' %}" alt="" />
            <div class="panel-overlay">
              <h2>Gargi Memorial Institute of Technology</h2>
              <p>GMIT has been ranked 8th amongst all emerging engineering colleges in India because of its educational excellence and professional infrastructural facilities.<br />
                <a href="#">Continue Reading &raquo;</a></p>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="column">
      <ul class="latestnews">
        <li><img src="{%static 'images/e1.jpg'%}" alt="" />
          <p><strong>Two days' Workshop on 'A Journey from Classical Machine Learning to Deep Learning Approach Approach'</strong></p>
          <p class="readmore"><a href="/work1">Readmore &raquo;</a></p>
          
        </li>
        <li><img src="{%static 'images/e3.jpg'%}" alt="" />
          <p><strong>National Best Welder Competition for Women (2019) strongin Eastern Region was held in Jagadishpur, Howrah 711115 on 16th Nov. 2019.  </strong></p>
          <p class="readmore"><a href="/welder1">Readmore &raquo;</a></p>
        </li>
        <li class="last"><img src="{%static 'images/blood3.jpg' %}" alt="" />
          <p><strong>BLOOD DONATION CAMP- 19.02.2019  Blood is something we human beings haven’t been able to recreate.</strong></p>
          <p class="readmore"><a href="/blood1">Readmore &raquo;</a></p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- <div class="wrapper">
  <div id="adblock">
    <div class="fl_left"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div> -->
  <div id="hpage_cats">
    <div class="fl_left">
      <u1>
      <li>
      <h2><a href="#">Placement &raquo;</a></h2>
      <img src="{%static 'images/infosis.jpg' %}" alt="" />
      <p>On Campus Drive at GMIT By Infosys 19.06.2018</p>
        <p class="readmore"><a href="/infosis1">Readmore &raquo;</a></p>
      </li>
   </u1>
   </div>
      
    <div class="fl_right">
      <u1>
        <li>
      <h2><a href="#">Radio Show&raquo;</a></h2>
      <img src="{%static 'images/radio.jpg' %}" alt="" />
      <p><strong>Mr. Bodhisattva Banerjee, Vice Chairman, GMIT was invited on the show ‘FEVER KI PATHSHALA’ in Fever FM 104 with RJ Ruthline on June 10, 2018</strong></p>
      <p class="readmore"><a href="/radio1">Readmore &raquo;</a></p>
      </li>
      </u1>
  
    </div>
    <br class="clear" />
    <div class="fl_left">
      <u1>
        <l1>
      <h2><a href="#">Celebration &raquo;</a></h2>
      <img src="{%static 'images/gargiday.jpg' %}" alt="" />
      <p><strong>GARGI DAY-27.12.2018</a></strong></p>
      <p class="readmore"><a href="/gargiday1">Readmore &raquo;</a></p>
      </l1>
      </u1>
      </div>
    <div class="fl_right">
      <u1>
        <l1>
      <h2><a href="#">Programme&raquo;</a></h2>
      <img src="{%static 'images/aa1.png' %}" alt="" />
      <p><strong>Programme on Foundry at SVIST- 15th Nov, 2019</strong></p>
      <p class="readmore"><a href="/pro1">Readmore &raquo;</a></p>
    </l1>
    </u1>
    </div>
    </div>
    </div>
    <br class="clear" />
    
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="hpage_latest">
        <h2>TRENDING NEWS</h2>
        <ul>
          <li><img src="{%static 'images/webs.jpg' %}" alt="" />
            <p>GMIT WEB SERIES</p>
            <p>Tathagata comes back to GMIT.</p>
            <p class="readmore"><a href="{%static 'pages/web.html' %}">Continue Showing &raquo;</a></p>
          </li>
          <li><img src="{%static 'images/ramt5.jpg' %}" alt="" />
            <p>RAMT - 2019 - 5th-6th April- 2019</p>
            
            <p class="readmore"><a href="/ramt1">Continue Reading &raquo;</a></p>
          </li>
          <li class="last"><img src="{%static 'images/women1.jpg' %}" alt="" />
            <p>Women's Day- 13.03.2019</p>
            
            <p class="readmore"><a href="/women1">Continue Reading &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div class="column">
      <div class="holder"><a href="/science1"><img src="{%static 'images/science1.jpg' %}" alt="" /></a></div>
      <div class="holder"><a href="/mining1"><img src="{%static 'images/mining21.jpg' %}" alt="" /></a></div>
    </div>
    <br class="clear" />
  </div>
</div>
{% endblock content %}