{% extends 'core\homeBase.html' %}
{%load static %}
{% block title %}Infosys{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
  
<h1 style="color:rgba(3, 22, 1, 0.877)"><b>On Campus Drive at GMIT By Infosys 19.06.2018:-</b></h1>
  <img src="{%static 'images/infosis1.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
 <p>A student of Department of Electronics & Communication Engineering get a placement on Infosys</p>
 {% endblock content %}