{% extends 'core\homeBase.html' %}
{%load static %}
{% block title %}Leader Ship{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
  
<div class="carousel-inner">
  <h2>Leader Ship:-</h2>
  <div class="carousel-item active">
    <img src="{%static 'images/leader1.jpg' %}"  width="300" height="200">
  </div>
  <br>
  <div class="carousel-item">
    <img src="{%static 'images/leader2.jpg' %}"  width="300" height="200">
  </div>
  <br>
  <div class="carousel-item">
    <img src="{%static 'images/leader3.jpg' %}"  width="300" height="200">
  </div>
  <br>
  <div class="carousel-item">
    <img src="{%static 'images/leader4.jpg' %}"  width="300" height="200">
  </div>
  <br>
  
</div>


<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
{% endblock content %}
