{% extends 'core/homeBase.html' %}
{%load static %}
{% block title %}Mining{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
        <h1 style="color:rgba(3, 22, 1, 0.877)"><b>International Mining & Machinery Exhibition- 05.11.2018</b></h1>

   <img src="{%static 'images/mining2.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
<p>
   Students from Mechanical Engineering department visited 14th International Mining & Machinery Exhibition organised by Confederation of Indian Industry in association with Coal India Limited and Australia Unlimited at Eco Park, New Town. IMME2018 @ gmitkolkata.</p>
  {% endblock content %} 