{% extends 'core\homeBase.html' %}
{%load static %}
{% block title %}Radio Show{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
           <div class="container">
              <h2>Radio Show 09.06.2018:-</h2>
                     
                <img src="{%static 'images/radio1.cms' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
           <p>     Mr. Bodhisattva Banerjee, Vice Chairman, GMIT was invited on the show ‘FEVER KI PATHSHALA’ in Fever FM 104 with RJ Ruthline on June 10, 2018 to know about the latest trends and evolution in the field of technical studies. This show was aimed for HS passouts to guide them on their future career prospects and roadmap to set their career goals.</p>
           {% endblock content %}