{% extends 'core/homeBase.html' %}
{%load static %}
{% block title %}Ramt{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
           <div class="container">
              <h2>RAMT - 2019 - 5th-6th April- 2019:-</h2>
                     
              <img src="{%static 'images/ramt4.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
<p>RAMT 2019 i.e "Recent Advances in Manufacturing Technologies" was held on 5th and 6th April, 2019 and was organized to create a platform for Researchers, Engineers, Scientists and Academicians to exchange the latest information about recent advances in the field of Mechanical Engineering.</p>
{% endblock content %}