{% extends 'core/homeBase.html' %}
{%load static %}
{% block title %}Women's day{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
           <div class="container">
              <h2>Women's Day- 13.03.2019:-</h2>
                     
              <img src="{%static 'images/women3.png' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436">
         <p>     A small initiative by GMIT on the eve of Women's Day to educate people about women, the real architects of society. A wonderful seminar led by Banhi Dasgupta, a women entrepreneur, Swayam (founder) by EDI, officially acting as fashion designer of West Bengal Khadi board & awarded as 'First Generation Entrepreneur' encouraged us with her achievements. The event followed by cake cutting ceremony and Quiz competition at the end in the presence of our Vice Chairman, Mr. Bodhisattva Banerjee. </p>
         {% endblock content %}