{% extends 'core/homeBase.html' %}
{%load static %}
{% block title %}Work{% endblock title %}
{% block content %}
<div class="wrapper">
  <div class="container">
           <div class="container">
              <h2>Two days' Workshop:-</h2>
                     
              <img src="{%static 'images/f1.jpg' %}" class="img-rounded" alt="Cinque Terre" width="804" height="436"> 
<p>on 'A Journey from Classical Machine Learning to Deep Learning Approach Approach', Date: 22nd & 23rd February.</p>
{% endblock content %}